.footer {
  position: sticky;
  top: 0;
  background-color: black;
  border-bottom: 0.1px solid lightgray;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  z-index: 999;
}

.footer__links {
  display: flex;
  justify-content: space-evenly;
  color: whitesmoke;
}

.footer__links:hover {
  color: cyan;
  transition: all 0.4s ease;
  text-decoration: none;
  -webkit-transition: all 0.4s ease;
  cursor: pointer;
}
