.header {
  display: flex;
  position: sticky;
  top: 0;
  background-color: black;
  justify-content: space-evenly;
  border-bottom: 0.1px solid lightgray;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  z-index: 999;
}
.header__right {
  display: flex;
}
.head__left {
  display: flex;
}

.header__right > p {
  display: flex;

  align-items: center;
  margin-right: 20px;
  color: whitesmoke;
  cursor: pointer;
}

.header__left > h1 {
  color: whitesmoke;
}
