.header {
  display: flex;
  position: sticky;
  top: 0;
  background-color: black;
  justify-content: space-evenly;
  border-bottom: 0.1px solid lightgray;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  z-index: 999;
  text-shadow: 2px 2px 9px white;
  font-size: 1rem;
}

@media only screen and (max-width: 600px) {
  .header {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 10px;
  }
}
.header__right {
  display: flex;
}
.header__left {
  display: flex;
}

.header__right > p {
  display: flex;
  align-items: center;
  margin-right: 20px;
  color: whitesmoke;
  cursor: pointer;
}
.header__right > p:hover {
  color: cyan;
  transition: all 0.4s ease;
  text-decoration: none;
  -webkit-transition: all 0.4s ease;
  cursor: pointer;
}

.header__left > h1 {
  color: whitesmoke;
}
