* {
  margin: 0;
}

/* Navigation styling starts here */
nav {
  display: flex;
  position: fixed;
  top: 0;
  color: whitesmoke;
  font-weight: bold;
  font-size: 1.5rem;
  background-color: black;
  justify-content: space-evenly;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
  z-index: 999;
}
@media only screen and (max-width: 600px) {
  nav {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 1.3rem;
  }
}
.nav__left {
  display: flex;
  font-size: 2rem;
}

.nav__right {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 20px;
}

@media only screen and (max-width: 600px) {
  .nav__right {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 2rem;
  }
}
/* Navigationg styling ends here */

/* Link styling */
a {
  text-decoration: none;
  color: whitesmoke;
}
a:hover {
  color: cyan;
  transition: all 1.4s ease;
  -webkit-transition: all 1.5s ease;
  cursor: pointer;
}

/* Footer styling starts here */
.footer {
  display: flex;
  position: sticky;
  font-size: 1.3rem;
  font-weight: bold;
  color: whitesmoke;
  background-color: black;
  justify-content: space-evenly;
  z-index: 999;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.footer__middle {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  padding-top: 5px;
}
.footer__right {
  display: flex;
  padding-top: 12px;
}
.footer__left {
  display: flex;
  padding-top: 12px;
}

.footer__middle img:hover {
  background-color: cyan;
  transition: all 1.4s ease;
  -webkit-transition: all 1.2s ease;
  cursor: pointer;
  border-radius: 50px;
}
/* Footer styling ends here. */
