.projects {
	display: flex;
	justify-content: space-around;
	padding-top: 130px;
	height: 100%;
}

@media only screen and (max-width: 600px) {
	.projects {
		display: flex;
		align-items: center;
		flex-direction: column;
		font-size: 1rem;
		padding-top: 180px;
		padding-bottom: 130px;
		background: linear-gradient(to left, black, grey);
	}
}
@media only screen and (max-width: 600px) {
	img {
		display: flex;
		justify-content: center;
	}
}
.projects img {
	border-radius: 3%;
	box-shadow: 0px 0px 20px 10px cyan;
	opacity: 1;
	transition: transform 0.2s;
}

.projects img:hover {
	box-shadow: 0px 0px 20px 10px cyan;
	transform: scale(1);
	opacity: 0.7;
}

.projects__left {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px;
}

.projects__right {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px;
}

.slider__projects {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	background: linear-gradient(to left, black, grey);
	z-index: -1;
}
@media only screen and (max-width: 500px) {
	.slider {
		display: none;
	}
}

.project__text {
	font-weight: bolder;
	color: whitesmoke;
	text-shadow: 2px 2px 9px black;
}
.project__text > h1 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 1.2rem;
	padding-top: 10px;
}

.project__text a {
	font-weight: bolder;
	color: whitesmoke;
	font-size: 1rem;
	text-shadow: 2px 2px 9px black;
}
